# Ignore the folder containing the Private/Public Keys
keys/
*.pem

# Ignore configuration files with passwords/secrets
.env
config.py
secrets.json

# Database
# Ignore local database (keeps whatever test data off GitHub)
*.db
*.sqlite3
veritender.db

# Python Internals
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDE & OS Settings
.vscode/
.idea/
.DS_Store
Thumbs.db